/*
.products_item-img {
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }
  
  100% {
    opacity: 1;
  }
}

.products_item-img {
  animation-name: slideAndFade;
  animation-duration: 800ms;
  animation-delay: calc(var(--animation-order) * 150ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 0; /* Set initial opacity to 0 for the animation */
}

/*

@keyframes slideAndFade {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

*/

